@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post">
    <label>Email</label>
    <input type="email" name="mail" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button type="submit">Entrar</button>
</form>

<p>¿No tienes cuenta? <a href="/Auth/Register">Regístrate aquí</a></p>
